form {
	margin: 0 auto;
	text-align: center;
}

fieldset {
	min-height: 400px;
	width: 500px;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	margin-top: -200px;
	left: 50%;
	margin-left: -250px;
	padding-top: 150px;
}

input {
	border-radius: 10px;
	border: 1px solid #666;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 300px;
	height: 70px;
	line-height: 50px;
	font-size: 50px;
	margin-right: 0;
	width: 50%;
}

html {
	font-family: 'Oswald', sans-serif;
}
html, body, form, .wrapper {
	height: 100%;
	background: #003049;
}
html, body {
	margin: 0;
}
body {
	overflow-x: hidden;
}
label {
	font-size: 5em;
	display: inline-block;
	margin-left: 0;
	width: 50%;
	color: white;
}

.login-block {
	display: block;
}
.image-holder {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
.login-image {
	width: 80%;
	margin: 0 auto;
	height: auto;
}
.login-banner {
	text-align: center;
}
h1 {
	font-size: 100px;
	color: white;
}

/* here we start the mobile main page */
span.main-text {
	margin: 0;
	height: 250px;
	display: inline-block;
	color: #062e48;
	line-height: 250px;
	font-size: 60px;
	vertical-align: center;
	box-sizing: border-box;
	padding-left: 15px;
	overflow: hidden;
	width: 75%;
}
.icons {
	float: right;
	padding-top: 30px;
	margin-bottom: -30px;
	display: inline-block;
	height: 250px;
	vertical-align: center;

}
.icons>a {
	text-decoration: none;
	margin-right: 15px;
	height: 60px;
	width: 60px;
	padding-bottom: -30px;
}
.icons>a>img {
	height: 100px;
	width: 100px;
	margin-top: 50px;
}
ul {
	padding: 0;
	list-style-type: none;
	margin: 0;
}
li {	
	margin: 0;
	padding: 0;
}
i {
	padding: 0;
	margin: 0;
}
.ficons {
	display: inline-block;
	padding-top: ;
	float: right;
	margin-right: 30px;
	height: 100%;
}
.mail-link {
	background: url('/images/mail-link.png');
	display: inline-block;
	width: 64px;
	height: 64px;
	text-decoration :none;
}

.pdf-link {
	background: url('/images/pdf-link.png');
	display: inline-block;
	width: 64px;
	height: 64px;
	text-decoration: none;
}

body{
	height: 100%;
	position: fixed;
	width: 100%;
}

.menu{
	display: block;
	height: 100%;
	position: absolute;
	overflow-y: auto;
	width: 100%;
}

.menu.college_list{
	left: 0%;
}

.menu.department_list,.menu.resource_list{
	left: 100%;
}

.menu .header{
	padding: 0;
	height: 350px;
	width: 100%;
	background: #043049;
	font-size: 100px;
	line-height: 350px;
	color: white;
	text-align: center;
}

.menu:not(.college_list) .header{
	cursor: pointer;
}

.menu .item{
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #d8d8d8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefe 0%,#d8d8d8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 0%,#d8d8d8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fefefe 0%,#d8d8d8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */
	
	cursor: pointer;
	font-family: Oswald, sans-serif;
	padding: 70px 15px 70px 15px;
	font-size: 60px;
}

.menu .item:hover{
	background: #ededed; /* Old browsers */
	background: -moz-linear-gradient(top,  #ededed 0%, #c7c7c7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#c7c7c7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ededed 0%,#c7c7c7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ededed 0%,#c7c7c7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ededed 0%,#c7c7c7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ededed 0%,#c7c7c7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#c7c7c7',GradientType=0 ); /* IE6-9 */
}

.menu.college_list .item:after,.menu.department_list .item:not(.no_department_indicator):after{
	display: inline-block;
	height: 100%;
	float: right;
	content: '>';
}