/*form {
	margin: 0 auto;
	text-align: center;
}

fieldset {
	min-height: 400px;
	width: 500px;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	margin-top: -200px;
	left: 50%;
	margin-left: -250px;
	padding-top: 150px;
}

input {
	border-radius: 10px;
	border: 1px solid #666;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 300px;
	height: 70px;
	line-height: 50px;
	font-size: 50px;
	margin-right: 0;
	width: 50%;
}*/

html{
	background: #003049;
	font-family: 'Oswald', sans-serif;
	height: 100%;
}
body{
	height: 100%;
	margin: 0;
	padding: 0;
}

.vcenterer{
	display: table;
	height: 100%;
	width: 100%;
}
.vcenterer:before,.vcenterer:after{
	content: '';
	display: table-row;
}

.vcenteree{
	display: table-row;
	height: 1px;
}


/*[BEGIN] Resources Login Styles*/
.login{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

@media all AND (min-device-width: 641px){
	.login{
		border: 1px solid #AAAAAA;
		border-radius: 7px;
		margin: auto;
		text-align: center;
		width: 500px;
	}
	
	.login form{
		padding: 10px;
	}
}
@media all AND (max-device-width: 640px){
	.login{
		width: 100%;
	}
}

	.login .header h1{
		font-size: 2.5em;
	}
	
	.login button,.login input[type='text'],.login input[type='password']{
		font-size: 1.5em;
		padding: 0.5em;
	}

.login{
	text-align: center;
}

.login .header img{
	display: block;
	margin: 0px auto;
}

.login .header h1{
	color: #FFFFFF;
}

.login form :first-child{
	margin-top: 0px;
}

.login form :last-child{
	margin-bottom: 0px;
}

.login button,.login input[type='text'],.login input[type='password']{
	border: none;
	display: block;
	margin: 8px 0px;
	text-align: center;
	width: 100%;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.login button{
	background-color: hsl(45, 5%, 50%);
	color: #FFFFFF;
}

.login button:hover{
	background-color: hsl(45, 80%, 50%);
}
/*[END] Resources Login Styles*/

/* here we start the mobile main page */
span.main-text {
	margin: 0;
	height: 250px;
	display: inline-block;
	color: #062e48;
	line-height: 250px;
	font-size: 60px;
	vertical-align: center;
	box-sizing: border-box;
	padding-left: 15px;
	overflow: hidden;
	width: 75%;
}
.icons {
	float: right;
	padding-top: 30px;
	margin-bottom: -30px;
	display: inline-block;
	height: 250px;
	vertical-align: center;

}
.icons>a {
	text-decoration: none;
	margin-right: 15px;
	height: 60px;
	width: 60px;
	padding-bottom: -30px;
}
.icons>a>img {
	height: 100px;
	width: 100px;
	margin-top: 50px;
}
ul {
	padding: 0;
	list-style-type: none;
	margin: 0;
}
li {	
	margin: 0;
	padding: 0;
}
i {
	padding: 0;
	margin: 0;
}
.ficons {
	display: inline-block;
	padding-top: ;
	float: right;
	margin-right: 30px;
	height: 100%;
}
.mail-link {
	background: url('/images/mail-link.png');
	display: inline-block;
	width: 64px;
	height: 64px;
	text-decoration :none;
}

.pdf-link {
	background: url('/images/pdf-link.png');
	display: inline-block;
	width: 64px;
	height: 64px;
	text-decoration: none;
}

.no_scroll{
	height: 100%;
	position: fixed;
	width: 100%;
}

.menu{
	display: block;
	height: 100%;
	position: absolute;
	overflow-y: auto;
	width: 100%;
}

.menu.college_list{
	left: 0%;
}

.menu.department_list,.menu.resource_list{
	left: 100%;
}

.menu .header{
	padding: 0;
	height: 350px;
	width: 100%;
	background: #043049;
	font-size: 100px;
	line-height: 350px;
	color: white;
	text-align: center;
}

.menu:not(.college_list) .header{
	cursor: pointer;
}

.menu .item{
	background-color: #FFFFFF;
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)0), color-stop(100%,rgba(0,0,0,0.2))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%); /* IE10+ */
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */
	
	font-family: Oswald, sans-serif;
}

.menu:not(.resource_list) .item{
	cursor: pointer;
	padding: 70px 15px;
	font-size: 60px;
}

.menu:not(.resource_list) .item:hover{
	background-color: #DDDDDD;
}

.menu:not(.resource_list) .item:after{
	content: '>';
	display: inline-block;
	float: right;
	height: 100%;
}

.menu.resource_list .item{
	display: table;
	width: 100%;
	vertical-align: middle;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.menu.resource_list .item .cell{
	display: table-cell;
}

.menu.resource_list .item span.cell{
	font-size: 60px;
	padding: 50px 15px;
}

.menu.resource_list .item a.cell{
	background-color: rgba(0,0,0,0.2);
	background-position: center;
	background-repeat: no-repeat;
	border-left: 1px solid #000000;
	min-height: 70px;
	/*min-width: 70px;*/
	width: 15%;
}

.menu.resource_list .email{
	background-image: url('/mac/images/mail-link.png');	 
}

.menu.resource_list .pdf{
	background-image: url('/mac/images/pdf-link.png');
}