form {
	margin: 0 auto;
	text-align: center;
}

fieldset {
	min-height: 400px;
	width: 500px;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	margin-top: -200px;
	left: 50%;
	margin-left: -250px;
	padding-top: 150px;
}

input {
	border-radius: 10px;
	border: 1px solid #666;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 300px;
	height: 70px;
	line-height: 50px;
	font-size: 50px;
	margin-right: 0;
	width: 50%;
}

html {
	font-family: 'Oswald', sans-serif;
}
html, body, form, .wrapper {
	height: 100%;
	background: #003049;
}

label {
	font-size: 5em;
	display: inline-block;
	margin-left: 0;
	width: 50%;
	color: white;
}

.login-block {
	display: block;
}
.image-holder {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
.login-image {
	width: 80%;
	margin: 0 auto;
	height: auto;
}
.login-banner {
	text-align: center;
}
h1 {
	font-size: 100px;
	color: white;
}